# Choose a port
# PORT=1989
PORT=1989

# Chose a file name and location for the sqlite database
# Use :memory: for system memory
STORAGE=events.sqlite

# Do you want dev routes and admin for all users?
DEV=false

# Force ssl?
FORCE_SSL=false

# And a cookie secret
SESSION_SECRET="dummy secret value"

# Webmaker login URL
LOGIN_URL=http://localhost:3000

# webmaker-user-client URL
LOGIN_URL_WITH_AUTH=http://testuser:password@localhost:3000

# Allowed domains - this should be the location of your webmaker-events front end.
# Note: You can add additional allowed domains separated by spaces
ALLOWED_DOMAINS="http://localhost:1981 http://localhost:1969"

# AWS credentials used for hatchet
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# hatchet configuration
HATCHET_APP_NAME=
HATCHET_QUEUE_REGION=
HATCHET_QUEUE_URL=

# Output GELF-formatted logs, or development logs
ENABLE_GELF_LOGS=false

# What environment webmaker-events-service is running in
NODE_ENV=development

# What is the Events frontend URL
EVENTS_FRONTEND_URL=http://localhost:1981

# Flickr
FLICKR_API_KEY=
