# Choose a port
# PORT=1989
PORT=1989

# Chose a file name and location for the sqlite database
# Use :memory: for system memory
STORAGE=events.sqlite

# Do you want dev routes and admin for all users?
DEV=false

# Force ssl?
FORCE_SSL=false

# Secret key for authentication tokens
SESSION_SECRET=secretsauce

# Webmaker login URL
LOGIN_URL=http://localhost:3000

# Allowed domains - this should be the location of your webmaker-events front end.
ALLOWED_DOMAINS=http://localhost:1981

# AWS credentials used for hatchet
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# hatchet configuration
HATCHET_APP_NAME=
HATCHET_QUEUE_REGION=
HATCHET_QUEUE_URL=
